@mixin header() {
  height: 78px;
  display: flex;
  align-items: center;
  text-align: center;
  background: #000000;

  h1 {
    font-size: 17px;
    font-weight: 400;
    width: 100%;
    color: #ffffff;
  }
}