@mixin inputs() {
  .formControl {
    position: relative;
    margin-bottom: 25px;

    &__extra {
      position: absolute;
      top: 50%;
      right: 35px;
      transform: translateY(-50%);
      span {
        display: block;

        &:nth-child(1){
          font-size: 16px;
          font-weight: 600;
        }

        &:nth-child(2) {
          font-size: 14px;
          font-weight: 300;
        }

      }


    }

    input {
      border: solid 1px #9CA7B8;
      background-color: #ffffff;
      position: relative;
      border-radius: 7px;
      padding: 15px 15px;
      font-size: 17px;
      font-weight: 500;
      font-family: inherit;
      width: 100%;
    }

    label {
      position: absolute;
      z-index: 99;
      top: -10px;
      left: 16px;
      font-size: 14px;
      font-weight: 300;
      color: #9CA7B8;
      background-color: #ffffff;
      padding: 0 10px;
    }
  }
}