.copyUserAddress {
    display: flex;
    align-items: center;
    padding: 9px 24px;
    max-width: 190px;
    margin: 0 auto 45px auto;
    border-radius: 25px;

    &__blue {
      background-color: rgb(104, 81, 255, 0.43);
    }

    &__gray {
      box-shadow: 0 3px 6px rgba(0, 0,0, 0.16);
    }

    p {
      font-size: 15px;
      font-weight: 400;
    }

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      margin-right: 11px;
    }

}