@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

.container {
  width: 375px;
  margin: 0 auto;
}